<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>

<div class="w3-bar w3-border w3-black">
    <input type="button" value="Home" class="w3-bar-item w3-button" (click)="navigate('userDash')">
    <input type="button" value="Transaction" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('transaction')">
    <input type="button" value="Cheques" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('cheques')">
    <input type="button" value="Deposit" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('deposit')">
    <input type="button" value="My Profile" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('profile')">
    <input type="button" value="Log out" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="logout()">

</div>

<div class="div" style="color:white">
    <div class="center">
        <form [formGroup]="WithdrawRef" (ngSubmit)="transfer()">
        <p>Enter the recepient's details down below!</p>
        <p><input class="w3-input w3-border w3-hover-grey" type="number" maxlength="17" style="width:400px; height: 30px;"
            placeholder="Recepient's Account Number" formControlName="Account_No"></p>
        <p><input class="w3-input w3-border w3-hover-grey" type="text"  style="width:400px; height:30px" 
           placeholder="Recepient's Account Name" formControlName="Account_Name"></p> <br/>
        <p><input class="w3-input w3-border w3-hover-grey" type="tel" maxlength="11"  style="width:400px; height: 30px;; text-transform:uppercase"
            placeholder="IFSC Code" formControlName="ifsc" ></p>
        <p><input class="w3-input w3-border w3-hover-grey" type="number" maxlength="6" minlength="1" style="width:400px; height: 30px;"
            placeholder="Amount to be sent" formControlName="amount"></p>
              Enter the Bank's name: <br>
            <select class="w3-select" name="option" style="width: 450px;" formControlName="Bank" >
                <option value=""  selected>Bank?</option>
                <option value="Bank of Baroda">Bank of Baroda</option><option value="Bank of India">Bank of India</option>
                <option value="Bankn of Maharashtra">Bankn of Maharashtra</option><option value="Canara Bank">Canara Bank</option>
                <option value="Central Bank of India">Central Bank of India</option><option value="Indian bank">Indian bank</option>
                <option value="Indian Overseas Bank">Indian Overseas Bank</option>
                <option value="Punjab National Bank">Punjab National Bank</option><option value="Punjab and Sind Bank">Punjab and Sind Bank</option>
                <option value="Union Bank of India">Union Bank of India</option><option value="UCO Bank">UCO Bank</option>
                <option value="State Bank of India">State Bank of India</option>
                <option value="Axis Bank">Axis Bank</option><option value="Bandhan Bank">Bandhan Bank</option>
                <option value="CSB Bank">CSB Bank</option><option value="City Union Bank">City Union Bank</option>
                <option value="DCB Bank">DCB Bank</option><option value="Dhanlaxmi Bank">Dhanlaxmi Bank</option>
                <option value="Federal Bank">Federal Bank</option><option value="HDFC Bank">HDFC Bank</option>
                <option value="ICICI Bank">ICICI Bank</option><option value="IDBI Bank">IDBI Bank</option>
                <option value="IDFC First Bank">IDFC First Bank</option><option value="IndusInd Bank">IndusInd Bank</option>
                <option value="Jammu & Kashmir Bank">Jammu & Kashmir Bank</option><option value="Karnataka Bank">Karnataka Bank</option>
                <option value="Karur Vysya Bank">Karur Vysya Bank</option><option value="Kotak Mahindra Bank">Kotak Mahindra Bank</option>
                <option value="Nainital Bank">Nainital Bank</option><option value="RBL Bank">RBL Bank</option>
                <option value="South Indian Bank">South Indian Bank</option><option value="Tamil Nadu Grama Bank">Tamil Nadu Grama Bank</option>
                <option value="Yes Bank">Yes Bank</option>
              </select>     <br>
        
    
        <input type="submit" class="w3-btn w3-ripple w3-red" value="Submit" > <br>  <span style="color:red"> {{msg}} </span><br/><br>
    </form>
    </div>
</div>
</body>
</html>