<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body class="w3-container w3-dark-grey">
    <div class="w3-bar w3-border w3-black">
        <input type="button" value="Home" class="w3-bar-item w3-button" (click)="navigate('userDash')">
        <input type="button" value="Transaction" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('transaction')">
        <input type="button" value="Cheques" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('cheques')">
        <input type="button" value="Deposit" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('deposit')">
        <input type="button" value="My Profile" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="navigate('profile')">
        <input type="button" value="Log out" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white" (click)="logout()">
      </div>
      <div class="w3-container">
        <h2 style="text-align:center ;"> <b>Customer ID:</b> {{this.userID}} </h2> 
      </div> 

      <div *ngIf="acc==2" class="w3-container">
            <div  class="row">
              <div class="column w3-container w3-cursive w3-large" style="background-color:grey">
                <p>Your current amount in Primary account</p>
                <p>{{balance_1}} &#8377; </p><hr>
                <input type="button"  class="w3-btn w3-small w3-ripple w3-black" value="Withdraw"  (click)="transferto('1')" /><br>

              </div>
              <div class="column w3-container w3-cursive w3-large" style="background-color:grey">
              <p>Your current amount in Savings account</p>
              <p>{{balance_2}} &#8377; </p><hr>
              <input type="button"  class="w3-btn w3-small w3-ripple w3-black" value="Withdraw" (click)="transferto('2')" /><br>
              </div>
            </div>
            </div>
          
       <div *ngIf="acc==1" class="w3-container oneacc w3-cursive w3-large" style="background-color:grey">
            <p>Your current amount in your primary account</p>
            <p> {{balance_1}} &#8377; </p> <hr>
            <input type="button"  class="w3-btn w3-small w3-ripple w3-black" value="Withdraw"   (click)="transferto('1')"/><br>
       </div>

       <div *ngIf="acc==3" class="w3-container oneacc w3-cursive" style="background-color:grey">
            <p> Your current amount in your savings account </p>
            <p> {{balance_2}} &#8377; </p><hr>
            <input type="button"  class="w3-btn w3-small w3-ripple w3-black" value="Withdraw"  (click)="transferto('2')" /><br>
          </div>
</body>
</html>